footer
    .container.px-4.mx-auto.py-20
        .flex.justify-between.items-center.border-b.border-ch-grey-darkest.py-4
            a(href="https://claytonhomes.com").text-ch-blue-link ClaytonHomes.com
            ul.flex
                li.mr-6
                    a(href="https://www.instagram.com/claytonhomes")
                        img(src="img/instagram.svg", alt="Instagram")
                li.mr-6
                    a(href="https://www.facebook.com/ClaytonHomes/")
                        img(src="img/facebook.svg", alt="Facebook")
                li
                    a(href="https://twitter.com/claytonhomes")
                        img(src="img/twitter.svg", alt="Twitter")
        div.text-ch-grey-medium.text-xs.mt-6
            span © 1998-2019 CMH Services, Inc. All rights reserved.
            a(href="https://www.claytonhomes.com/legal/").pl-6 Legal
            span  | 
            a(href="https://www.claytonhomes.com/privacy/ccpa/ca-resident-privacy-policy/") Privacy