header.fixed.z-10.w-full.top-0.left-0
    div.flex.justify-between.items-center.h-20.bg-white.shadow-md
        a(href="#")
            img.pl-6(src="img/Clayton-Connect-Logo-Color.svg", alt="Clayton Homes")
        ul(class="menu bg-white", id="menu-target")
            li
                a.nav-anchor(href="#home") Home
            li
                a.nav-anchor(href="#our-services") Services
            li
                a(href="https://careers.claytonhomes.com/") Careers
            li
                a.nav-anchor(href="#contact") Contact
        .menu-button-wrap
            a.menu-button(href="#", id="menu-toggle")
                img(src="img/menu.svg")