header.fixed.z-10.w-full.top-0.left-0.bg-white(class="md:shadow-md")
    div(class="md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl md:mx-auto md:px-4")
        .flex.justify-between.items-center.h-20.relative
            .w-full.h-full.bg-white.absolute.top-0.left-0(class="shadow-md md:shadow-none")
            a.relative(href="#")
                img.pl-6(src="img/Clayton-Connect-Logo-Color.svg", alt="Clayton Homes")
            ul(class="relative menu bg-white", id="menu-target")
                li
                    a.nav-anchor(href="#home") Home
                li
                    a.nav-anchor(href="#our-services") Services
                li
                    a(href="https://careers.claytonhomes.com/our-businesses/clayton-connect") Careers
                li
                    a.nav-anchor(href="#contact") Contact
            .relative.menu-button-wrap
                a.menu-button(href="#", id="menu-toggle")
                    img.to-open(src="img/menu.svg")
                    img.to-close(src="img/menu-close.svg")