header.fixed.w-full.top-0.left-0
    div.flex.justify-between.items-center.px-4.h-20.bg-white.shadow-md
        a(href="#")
            img.px-4(src="img/Clayton-Connect-Logo-Color.svg", alt="Clayton Homes")
        ul.flex
            li
                a.block.px-8.py-6(href="#") Home
            li
                a.block.px-8.py-6(href="#") Services
            li
                a.block.px-8.py-6(href="#") Careers
            li
                a.block.px-8.py-6(href="#") Contact