include partials/mixins

html
    head
        title Clayton Homes
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel='stylesheet', href='app.css')
        script(type="text/javascript" src="app.js")
    body.antialiased
        
        include partials/header
        
        main.mt-20
            .py-12.relative.h-96(id="home")
                div.bg-gray-800.absolute.w-full.h-full.top-0.left-0.overflow-hidden
                    video(loop="loop", muted="", autoplay="", preload="auto", class=classes)
                        source(src="vid/test.mp4" type="video/mp4")
                div(class="bg-ch-blue bg-opacity-65 w-full lg:w-1/2 absolute top-0 left-0 h-full")
                div(class="relative container mx-auto px-4")
                    div(class="h-full flex items-center lg:w-1/2")
                        div
                            h2.heading.heading-small.heading-white.leading-tight With Clayton Connect&reg; you get a seamless and high-quality transportation and delivery service.
                            a(href="#our-services").nav-anchor.button.button-white.mt-6 See Available Services
            .container.mx-auto.px-4.max-w-4xl.py-12.text-center
                h2.heading.heading-large Our Story
                p Clayton Connect® began in 2017 as part of the Clayton® family of brands with a goal to deliver Clayton Built® homes safely, with care and precision, in a timely manner. Since then, we’ve expanded our business to include freight and transportation services for a variety of products and businesses nationwide. Our Clayton Connect® fleet contains more than 250 tractor and pilot drivers with three transportation hubs in Tennessee, North Carolina and Alabama.
                a(href="#contact").nav-anchor.mt-8.button Contact Us
            .container.mx-auto.px-4.max-w-4xl.py-12.text-center
                div.bg-white.border-t.border-ch-grey.w-48.h-6.mx-auto(class="md:w-96" id="our-services")
                h2.heading.heading-large Our Services
                p It’s our goal to be extraordinary every time we interact with you, and our team of dedicated drivers and trusted third-party business partners believe in that goal. We currently offer these services:
            .grid.grid-cols-1.gap-16.mt-8(class="lg:gap-20 xl:gap-32")
                .container.mx-auto.px-4(class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-8 xl:gap-20")
                    div.bg-gray-500.w-full.h-48(class="sm:h-64 md:h-96")
                    div.flex.justify-center.flex-col
                        h2.heading.heading-small.leading-tight Flatbed | Step Deck | Conestoga
                        p Our services provide a wide range of resources for any of your supply chain needs. We specialize in many commodities including lumber, raw materials, machinery, miscellaneous equipment, and more. Contact us to chat with an account manager about your specific needs.
                .container.mx-auto.px-4(class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-8 xl:gap-20")
                    div.bg-gray-500.w-full.h-48(class="sm:h-64 md:h-96")
                    div.flex.justify-center.flex-col(class="lg:row-start-1")
                        h2.heading.heading-small.leading-tight Dry Van
                        p What started as an intercompany need has flourished as a growth point for Clayton Connect. Our capacity includes but is not limited to home goods, lumber, windows, doors, motorized carriers, and more. Whether it’s a full van load or a multi-stop shipment, our team can keep your shipments moving in a timely manner.
                .container.mx-auto.px-4(class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-8 xl:gap-20")
                    div.bg-gray-500.w-full.h-48(class="sm:h-64 md:h-96")
                    div.flex.justify-center.flex-col
                        h2.heading.heading-small.leading-tight Hot Shot
                        p With up to 40 feet of deck space and/or up to 20,000 pounds of capacity, we guarantee on time delivery with our hotshot transportation services - even for the most time sensitive shipments.
                .container.mx-auto.px-4(class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-8 xl:gap-20")
                    div.bg-gray-500.w-full.h-48(class="sm:h-64 md:h-96")
                    div.flex.justify-center.flex-col(class="lg:row-start-1")
                        h2.heading.heading-small.leading-tight LTL
                        p Whether you have one pallet, 10 boxes, or 10,000 pounds, we’re here to help with your LTL needs. You can expect unparalleled service, dedicated account managers and service with you in mind. It’s our mission to keep you up to date on your freight from pickup to delivery.
                .container.mx-auto.px-4(class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-8 xl:gap-20")
                    div.bg-gray-500.w-full.h-48(class="sm:h-64 md:h-96")
                    div.flex.justify-center.flex-col
                        h2.heading.heading-small.leading-tight Over Dimensional
                        p Whether it be permits, weight, height, length or width, you can trust us to accommodate your over dimensional shipping needs. Our specialized team members will be able to handle all the intricate details that come with moving over dimensional freight. 
            .container.mx-auto.px-4.py-16.text-center(class="xl:py-24")
                h3.subheading Clayton Connect® has you covered.
                h2.heading.heading-large Contact us for a free quote
                a(href="#contact").nav-anchor.button.mt-8 Contact Us
            .bg-ch-blue.py-16(id="contact")
                .container.px-4.mx-auto.text-center.max-w-4xl
                    h2.heading.heading-small.heading-white Our Details
                    p.text-white Our headquarters is located in Birmingham, AL, but our freight transport services are available nationwide. Contact us to get a freight quote today!
                    .mt-12.grid.grid-cols-1.gap-4(class="md:gap-12 lg:grid-cols-2 xl:gap-24")
                        div
                            h4.text-white.text-2xl.px-16 Birmingham Freight Transportation Services
                            div.mt-4.bg-white.h-48.w-full.flex.flex-col.justify-center
                                div
                                    span.text-ch-grey-dark.text-sm.tracking-wide PHONE:
                                    p.heading.heading-small.heading-blue(class="-mt-2") 205-909-0888
                                div.mt-4
                                    span.text-ch-grey-dark.text-sm.tracking-wide EMAIL:
                                    p
                                        a.text-ch-blue(href="mailto:dispatch@claytonconnect.biz") dispatch@claytonconnect.biz
                        div
                            h4.text-white.text-2xl.px-16 Home Transportation Services
                            div.mt-4.bg-white.h-48.w-full.flex.flex-col.justify-center
                                div
                                    span.text-ch-grey-dark.text-sm.tracking-wide PHONE:
                                    p.heading.heading-small.heading-blue(class="-mt-2") 865-498-6150

        
        include partials/footer
