include partials/mixins

html
    head
        title Clayton Homes
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel='stylesheet', href='app.css')
        script(type="text/javascript" src="app.js")
    body.antialiased
        
        include partials/header
        
        main.mt-20
            .container.px-4.mx-auto
                .py-8
                    h2.heading.heading-large Large Heading
                    p The theme() function attempts to find the value you are looking for from the fully merged theme object, so it can reference your own customizations as well as the default theme values. It also works recursively, so as long as there is a static value at the end of the chain it will be able to resolve the value you are looking for.
                    h2.heading.heading-small Small Heading
                    p The theme() function attempts to find the value you are looking for from the fully merged theme object, so it can reference your own customizations as well as the default theme values. It also works recursively, so as long as there is a static value at the end of the chain it will be able to resolve the value you are looking for.
                    h2.subheading Subheading
                    p The theme() function attempts to find the value you are looking for from the fully merged theme object, so it can reference your own customizations as well as the default theme values. It also works recursively, so as long as there is a static value at the end of the chain it will be able to resolve the value you are looking for.
            .container.px-4.mx-auto.mt-8.text-center
                h2.subheading Clayton Connect&reg; has you covered.
                h2.heading.heading-large Contact us for a free quote
                a(href="#").button.mt-6 Contact Us
        
        include partials/footer
