/**
 * Navigation
 */
.menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 5rem;
    z-index: -1;
    height: 0;
    overflow: hidden;

    li {
        text-align: center;
        font-weight: bold;

        &:first-child {
            @apply pt-4;
        }

        &:last-child {
            @apply pb-4;
        }

        a {
            @apply block px-4 py-3;
            transition: color .2s;

            &:hover {
                @apply text-ch-blue;
            }
        }
    }

    @screen md {
        position: relative;
        width: auto;
        left: auto;
        top: auto;
        height: auto !important;
        z-index: auto;
        display: flex;

        li {
            text-align: left;
            font-weight: normal;

            &:first-child {
                @apply pt-0;
            }

            &:last-child {
                @apply pb-0;
            }
        }
    }

    &.open {
        height: auto;
    }
}

.menu-button-wrap {
    @apply w-20 h-20 flex items-center justify-center border-l border-ch-grey-medium-light;

    @screen md {
        display: none;
    }

    .to-close {
        @apply hidden;
    }
}

.open + .menu-button-wrap {
    .to-close {
        @apply inline;
    }

    .to-open {
        @apply hidden;
    }
}